body{margin:0;font-family:Arial;background:#f2f2f2}
header{background:#0b3c5d;color:#fff;text-align:center;padding:25px}
.icons a{color:#fff;font-size:22px;margin:10px}
.section{padding:30px}
.section.dark{background:#0b3c5d;color:white}
.card{background:white;padding:15px;margin:10px 0;border-radius:10px;font-size:18px}
input,textarea{width:100%;padding:10px;margin:8px 0}
button{padding:12px;width:100%;background:#25D366;color:white;border:none;font-size:16px}
.floating{position:fixed;bottom:20px;right:20px}
.floating a{display:block;margin:10px;background:#25D366;color:white;padding:15px;border-radius:50%}
iframe{width:100%;height:300px;border:0}
.upi{width:200px;display:block;margin:auto}
