body{
  margin:0;
  font-family:Segoe UI;
  background:#f2f2f2;
}

header{
  background:#0b3c5d;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.menu-btn{
  font-size:26px;
  cursor:pointer;
}

#drawer{
  position:fixed;
  top:0;
  left:-220px;
  width:200px;
  height:100%;
  background:#123;
  padding-top:50px;
  transition:0.3s;
}

#drawer a{
  display:block;
  color:white;
  padding:15px;
  text-decoration:none;
}

.banner{
  background:#1e90ff;
  color:white;
  padding:50px 20px;
  text-align:center;
}

.banner-btns a{
  display:inline-block;
  margin:10px;
  padding:12px 20px;
  background:white;
  color:black;
  border-radius:6px;
}

.services{
  padding:20px;
}

.service.big{
  background:white;
  margin:15px 0;
  padding:20px;
  font-size:18px;
  border-radius:10px;
  box-shadow:0 0 10px #aaa;
}

.gallery{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  padding:15px;
}

.gallery img{
  width:100%;
  border-radius:8px;
}

.float-wa{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  color:white;
  padding:15px;
  border-radius:50%;
  font-size:26px;
}

.admin-box{
  margin:80px auto;
  width:300px;
  background:white;
  padding:20px;
  border-radius:8px;
  text-align:center;
  }
